@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Web.Models.HomePage>
@{
	Layout = "Layout.cshtml";
	var subPages = Model.Children();
}

<h1>@Model.Heading</h1>

<p>@Model.Description</p>



@foreach(var subPage in subPages){
	<a href="@subPage.Url()">@subPage.Name</a>

